[submodule "packet_definitions"]
	path = packet_definitions
	url = https://github.com/AnotherlandServer/packet-formats.git
[submodule "content"]
	path = content
	url = https://github.com/AnotherlandServer/content.git
[submodule "recastnavigation-rs"]
	path = lib/recastnavigation-rs
	url = https://github.com/AnotherlandServer/recastnavigation-rs.git
