[submodule "packet_definitions"]
	path = packet_definitions
	url = https://github.com/AnotherlandServer/packet-formats.git
[submodule "content"]
	path = content
	url = https://github.com/AnotherlandServer/content.git
[submodule "external/zmq.rs"]
	path = external/zmq.rs
	url = https://github.com/plehmkuhl/zmq.rs.git
