name: Cargo Deny
on: 
  push:
    paths:
      - '**/Cargo.lock'
      - '**/Cargo.toml'
  pull_request:
    paths:
      - '**/Cargo.lock'
      - '**/Cargo.toml'
jobs:
  cargo-deny:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v5
    - uses: EmbarkStudios/cargo-deny-action@v2
      with:
        rust-version: "nightly-2026-02-01"
        command: check bans licenses sources